body {
  background: rgb(33, 33, 33);
}

h1,
h3,
p,
button {
  color: #fff;
}

button {
  background-color: blue;
  border: none;
  border-radius: 5px;
  border: none;
  width: 200px;
  padding: 13px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs-wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 36px;
  text-align: center;
}

.btn-add {
  width: 500px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn-wrapper:last-child {
  margin-right: 0;
}

.edit-btn,
.delete-btn {
  margin-right: 5px;
}
